/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}




.BGBLogo{
    background: url(../img/logo.png) no-repeat center top;
    background-size: 30%;
    position: absolute;
    top: 1%;
    height: 155px;
    width: 100%;
    text-align: center;
}
.upper{
    position: absolute;
    font-size: 26px;
    font-weight: bold;
    font-family: calibri, arial, sans-serif;
    text-transform: inherit;
    top: 14%;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 2% 0px 0px 0px;
}
.icons{
    width:100%;
    height:100px;
    margin-top: 11px;
}
.icons .wifi{
    position: relative;
    float: left;
    margin: 0;
    width: 50%;
    height: 100%;
}
.icons .wifi::before{
    font-size: 68px;
}
.icons .gps{
    position: relative;
    float: right;
    margin: 0;
    width: 50%;
    height: 100%;
}
.icons .gps::before{
    font-size: 68px;
}
.showInfo{
    width: 100%;
}
.showInfo .showlat{
    background-color: #ddd;
    margin: 0;
    text-align: center;
    font-size: 18px;
    width: 100%;
    height: 28px;    
}
.showInfo .showlan{
    background-color: #ddd;
    text-align: center;
    font-size: 18px;
    width: 100%;
    height: 28px;
}
.footer{
    background: url(../img/k_logo.png) no-repeat right;
    background-size: 18%;
    position: absolute;
    bottom: 1%;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 2% 0px 0px 0px;
}
.footer span{
    font-family: calibri, arial, sans-serif;
    text-transform: none;
    position: absolute;
    bottom: 1px;
    left: 1%;
}




/* Portrait layout (default) */
.app {
    /*background:url(../img/logo.png) no-repeat center top; */ /* 170px x 200px */
    /* background:url(../img/kiteplex.svg) no-repeat center top; */ /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    margin-top: 20px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
    font-size: 16px;
}

.event.received {
    background-color:#4B946A;
    display:none;
    font-size: 16px;
}

.killbutton{
    margin-top: 30px;
}

.killbutton a{
    background-color: #aaa;
    color: #555;
    border-radius: 4px;
    padding: 8px 28px;
    border-bottom: 1px solid #ccc;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
